@font-face {
    font-family: Font1;
    src: url("../Fonts/Sushi\ Omelette\ DEMO.ttf"); 
}

@font-face {
    font-family: Font2;
    src: url("../Fonts/Anyk.ttf"); 
}

@font-face {
        font-family: Font3;
        src: url("../Fonts/beachday.ttf"); 
}

@font-face {
    font-family: Font4;
    src: url("../Fonts/Vanilla\ Twilight.otf");
}

body {
    background-image: url(../Imágenes/BG.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative; }

.Back_Pink {
    background-color: rgb(236, 103, 196);
}

#Back_Light_Pink {
    background-color: rgb(255, 195, 237);
}

.Banner {
    width: auto;
    height: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.FontText {
    font-family: Font1;
    font-size: medium;
}

.FontName {
    font-family: Font4;
    font-size: x-large;
    -webkit-text-stroke: 0.9px rgb(0, 247, 255);
}

.FontItems {
    font-family: Font3;
    font-size: medium;
}

.FontCards {
    font-family: Font3;
    font-size: xx-large;
    -webkit-text-stroke: 2px rgb(55, 255, 222);
}

.Carousel-JS {
    background-color: rgba(0, 156, 228, 0.1); 
}

.Icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px; 
}

.DivCard{
    margin-top: 5%;
    margin-bottom: 5%;
}

.Card {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid 4px black;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    transition: transform 0.5s;
}

.Card:hover {
    transform: scale(1.2, 1.2); 
}

#Forming {
    background-color: rgba(0, 247, 255, 0.2);
    border: solid 4px black;
    border-radius: 15px;
    border-color: rgb(255, 65, 182);
    padding-top: 1%;
    padding-bottom: 1%;
}
.foot{
    margin-top: 1%;
}